<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	<context:component-scan
		base-package="com.newgen.iforms.user" />
	<context:component-scan
		base-package="com.awcsoftware.services" />
	<context:component-scan
		base-package="com.awcsoftware.dto.mdm.mapper" />
	<context:component-scan
		base-package="com.awcsoftware.dto.po" />
	<context:component-scan
		base-package="com.awcsoftware.dto.mdm" />
	<context:component-scan
		base-package="com.awcsoftware.dao.impl" />
	<bean
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod"
			value="com.awcsoftware.services.PropertiesReader.setProp" />
		<property name="arguments">
			<util:properties
				location="classpath:resrapi.properties" />
		</property>
	</bean>
	<bean class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<bean class="org.apache.commons.dbcp2.BasicDataSource">
				<property name="driver">
					<bean class="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
				</property>
				<property name="url"
					value="jdbc:sqlserver://10.131.24.149:1433;databaseName=gmmco" />
				<property name="username" value="sa" />
				<property name="password" value="Chn#9m5c16" />
				<property name="maxIdle" value="10" />
				<property name="minIdle" value="5" />
			</bean>
		</property>
	</bean>
	<bean class="org.json.simple.parser.JSONParser" scope="prototype"/>
	<bean class="com.fasterxml.jackson.databind.ObjectMapper" scope="prototype"/>
</beans>        